.banner {
  height: 15rem;
  opacity: 0.8;
  background-image: url("./images/banner.jpg");
}

.header {
  display: inline;
  position: absolute;
  color: black;
  padding: 1rem;
  font-size: 2rem;
}
.banner button {
  position: absolute;
  right: 1rem;
  margin: 1rem;
}
.search {
  display: inline;
  position: absolute;
  font-size: medium;
  left: 40rem;
  top: 1rem;
}
.search button {
  position: inherit;
  display: inline;
}
.item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  margin: 0.8rem auto 0;
}
@media (max-width: 800px) {
  .item-container {
    flex-direction: column;
  }
}

.item {
  margin: 5px;
}
.item img {
  margin: 5px;
  height: 150px;
  width: 300px;
  display: block;
  border-radius: 5%;
}
.item div {
  text-align: center;
}
