.item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  margin: 0.8rem auto 0;
}
@media (max-width: 800px) {
  .item-container {
    flex-direction: column;
  }
}
.banner {
  margin: 0 auto 0;
}
.item {
  margin: 5px;
}
.item img {
  margin: 5px;
  height: 150px;
  width: 300px;
  display: block;
  border-radius: 5%;
}
.item div {
  text-align: center;
}
